<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xz.ppjnet.dao.TikuDao">
    <insert id="addFilter">
        insert into tiku_filter (user_id, tiku_id, tag) value (#{userId},#{tikuId},#{tag})
    </insert>
    <update id="updateTag">
        update tiku_filter tf
        set tf.tag = 0
        where tf.user_id = #{userId}
          and tf.tiku_id = #{tikuId}
    </update>

    <select id="getRandom" resultType="com.xz.ppjnet.entity.Tiku">
        select *
        from tiku t
        where t.id not in (
            select tf.tiku_id
            from tiku_filter as tf
            where tf.user_id = #{userId}
        )
          and t.type_id = #{typeId}
          and t.id >= (RAND() * (SELECT MAX(tt.id) FROM tiku tt)) limit 10
    </select>
    <select id="getAnswer" resultType="java.lang.String">
        select t.answer
        from tiku t
        where t.id = #{id}
    </select>
    <select id="getWrong" resultType="com.xz.ppjnet.entity.Tiku">
        select t.*
        from tiku_filter tf
                 left join tiku t on tf.tiku_id = t.id
        where tf.user_id = #{userId}
          and tf.tag = 1
    </select>
</mapper>