<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xz.ppjnet.dao.UserDao">

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
            SELECT LAST_INSERT_ID() as ID
        </selectKey>
        insert into user (name,passwd) value (#{name},#{passwd})
    </insert>
    <select id="findUser" resultType="com.xz.ppjnet.entity.User">
        select id, name, create_time
        from user
        where name = #{name}
          and passwd = #{passwd}
    </select>
</mapper>